{
    padding: 0;
    margin: 0;


}
body{
    background-color: rgb(59, 53, 53)
    
}
.intro{
    color:black;

}
.logo{
    font-size: larger;
   
}
.container{
background-color: rgb(195, 195, 247);
width: 75%;;
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
padding: 80px 50px;
border-radius: 10px;
box-shadow:0 20px 40px rgba(38,33,6,0.2) ;

}
.searchBox{
    width:50%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;

}
.searchBox input{
    padding:5px;
    width: 50%;
    border:none;
    outline:none;
    border-bottom:3px solid rgb(238, 98, 5);
    font-size: small;
    border-radius: 5px;
    
}
.searchBox button{
    padding: 5px;
    width: 25%;
    background-color: rgb(235, 6, 6);
    color:white;
    border-radius: 5px;
}
.results{
    position: relative;
    height: fit-content;
    
}
.results h3{
    font-size: 30px;
    color: black;
}
.results.word{
    display:flex;
    justify-content: space-between;
    margin-top: 80px;


}
.results button{
    background-color: aquamarine;
    color: blueviolet;
    border: none;
    outline:none;
    font-size: 18px;
}